FLASK_ENV=your_FLASK_ENV_here
JWT_SECRET_KEY=CHANGE_ME_strong_random_value
WORKFLOW_DB_PATH=your_WORKFLOW_DB_PATH_here
DEEPSEEK_API_KEY=CHANGE_ME_strong_random_value
DEEPSEEK_BASE_URL=your_DEEPSEEK_BASE_URL_here
DEEPSEEK_MODEL=your_DEEPSEEK_MODEL_here
SECRET_KEY=CHANGE_ME_strong_random_value
PAYPAL_CLIENT_ID=your_PAYPAL_CLIENT_ID_here
PAYPAL_CLIENT_SECRET=CHANGE_ME_strong_random_value
PAYPAL_MODE=your_PAYPAL_MODE_here
